* {
	margin : 0;
	padding: 0;
	font-family: "Avenir LT Std 45 Book Regular", sans-serif;

}
/*----------------------HEADER-----------------------------*/
header {
	position: relative;
	background-color: black;
	height: 140px;
	width: 100%;
}
nav {
	position: absolute;
	margin-left: 38%;
	size: 14px;
	top: 0;
	right: 0;
	width: 100%;
}

header nav ul {
	list-style: none;
	margin-left: 20%;
}

nav ul li{
	margin-top: 1%;
	float: left;
	text-align: center;
	margin-left: 10%;
	margin-top: 2%;
}

nav ul li:hover img {
	opacity: 0.7;
}

nav ul li:hover a {
	opacity: 0.7;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
}

#logo {
	position: absolute;
	margin-left: 10%;
	margin-top: 0.7%;
}

/*----------------------CARROUSSEL-------------------------*/
.slider{
	overflow: hidden;
	width: 100%;
	padding :0;
	margin: 0;
}

.slider figure div{
	width: 20%;
	float: left;
}

.slider figure img{
	width: 100%;
	float: left;
}

.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 18s slidy infinite;
}

.slide {
	width: 100%;
	height: 600px;
}

@keyframes slidy{
	0%{
		left:0%;
	}

	10%{
		left: 0%;
	}

	12%{
		left: -100%;
	}

	22%{
		left: -100%;
	}

	24%{
		left: -200%;
	}

	34%{
		left: -200%;
	}

	36%{
		left: -300%;
	}

	46%{
		left: -300%;
	}

	48%{
		left:-400%; 
	}

	58%{
		left: -400%;
	}

	60%{
		left: -300%;
	}

	70%{
		left:-300%;
	}

	72%{
		left:-200%;
	}

	82%{
		left: -200%;
	}

	84%{
		left: -100%;
	}

	94%{
		left: -100%;
	}

	96%{
		left: 0%;
	}
}

/*-----------------------SECTION/ARTCILE----------------------*/

.container1 section {
	width: 100%;
}

article {
	padding-top: 1%;
	height: 500px;
	width: 100%;
	display: flex;
}

section article .art1 {
	width: 75%;	
}

section article .art1 img {
	width: 100%;
	height: 100%;

}

section article .art2 {
	width: 25%;
	margin-top: 6%;
	padding: 2%;
} 

.container1 img {
	float: left;
	width: 75%;
	height:500px;
}

.container1 p, .container2 p {
	display: block;
	text-align: center;
}

h1 {
	text-align: center;
	margin-bottom: 5%;
	font: bold 24px "Papyrus";
}

.container3 article {
	height: auto;
}
.container3 article img {
	width: 100%;
}

.art3 {
	width: 100%;
	text-align: center;
	margin: 2%;
	display: block;
}

.art3 h1 {
	margin-bottom: 1.5%;
}
/*----------------------------FOOTER--------------------------*/

footer {
	margin-left: 5%;
	margin-right: 5%;
	border-top: solid 2px grey;
}

footer img {
	opacity: 0.5;
	margin: 13.2%;
	margin-top: 3%;
	margin-bottom: 3%;
}

/*----------------------RESPONSIVE------------------*/
@media only screen and (max-width: 1080px) {
	header {
		height: 100px;
	}

	#logo {
		width: 75px;
		height: 82px;
		margin-left: 5%;
	}

	header nav ul {
		margin-left: 10%;
	}
	header nav ul li {
		margin-left: 10%;
	}
	header nav ul li img {
		width: 40px;
		height: 40px;
	}
	footer img{
		width: 40px;
		height: 40px;
		margin-top: 1%;
		margin-bottom: 1%;
	}

	.slide {
		height: auto;
	}
}

@media only screen and (max-width: 885px) {
	
	header nav ul {
		margin-left: 13%;
	}
	header nav ul li {
		margin-left: 7%;
	}

	article {
		height: 250px;
	}

	section article .art2 {
		width: 50%;
		margin-top:5%;
		padding: 1%;
	} 

	.container1 p, .container2 p {
		font-size: 12px;
	}

	h1 {
		font: bold 15px "Papyrus";
	}

	.art3 {
		font-size: 12px;
	}

	.container3 article img {
		height: 50%;
	}
}

@media only screen and (max-width: 710px) {

	header nav ul {
		margin-left: 25%;
	}
	header nav ul li {
		margin-left: 10%;
	}

	article {
		height: 250px;
	}

	header nav ul li img {
		margin-left: 15px;
	}
	header nav ul li a {
		display: none;
	}
}


