@meta "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
}

/*--
---nav
--*/

header {
	background-color: black;
	height: 120px;
	width: 100%;
}

header nav ul {
	list-style: none;
}

nav ul li{
	margin-top:1%;
	float: left;
	text-align: center;
	margin-left: 11%;
}

nav ul li:hover img {
	opacity: 0.7;
}

nav ul li:hover a {
	opacity: 0.7;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
}

#logo {
	float: left;
}

/*header {
    background: #000;
    height: 120px;
    width: 100%;
    position: relative;
}

#logo {
	top: 5%;
	margin-left: 5%;
}

nav {	
	position: absolute;
	padding: 0;
    float: left;
    width: 95%;
    top: 10%;
    display: inline-block;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    padding: 0 5%;
}



nav ul li a {
	display: inline;
    text-decoration: none;
    color: white;
    padding: 0 0;
}

nav ul li a:hover {
	opacity: 0.5;
}
*/

/*--
---section
--*/

section {
	display: block;
	margin: 0 auto;
}

li {
	list-style: none;
	box-sizing: border-box;
}

article {
	position: relative;
}

img.paysage {
	opacity:1;
	width: 100%;
}

div {
	position: absolute;
	bottom: 45vh;  /* a modifier pour la version fianle car bouge*/
	left: 0;
	right: 0;
	padding: 0 20px;
	width: 1000px;
	display: block;
	margin: 0 auto;
}

p {
	font-size: 48px;
	visibility: hidden;
	color: #fff;
	text-align: center;
	padding: 0;
	margin: 0;
}

article:hover {
	/*opacity: 0.8;*/
}

article:hover p {
	visibility: visible;
}
 
article:hover img{
	filter:brightness(50%);
		-webkit-filter:brightness(50%);
			-moz-filter:brightness(50%);
			-o-filter:brightness(50%);
			-ms-filter:brightness(50%);
}



/*.footer div {
    width: 200px;
    float: left;
    /* engendre une colonne (à gauche) si associé à width */
    padding: 20px 20px 20px 20px;
    margin: 0 20px 0 0;
    display: block;
    margin: 0 auto;
    position: relative;
}*/