@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial','Helvetica','sans-serif';
    background-color: white;
    
}
header {
    background: #22211F;
    height: 120px;
    width: 1366px;
    position: relative;
}
nav {
    margin: 50px 0 0 515px;
    position: absolute;
}

nav ul {
    list-style-position: inside;
    list-style-type: none;

}

nav li {
    float: left;
    margin-top: 40px;
    margin-right: 160px;
    font-size: 14px;
    font-weight: lighter;

}

nav a {
    text-decoration: none;
    color: white;
    padding: 0 0;
    border-bottom: 1px solid white;
}

section {
    width: 1366px;
}
figure {
}
div {
    width: 600px;
    height: 400px;
    text-align: center;
    position: relative;

}
p {

}
img {
    display: block;
}

h2 {
    text-align: center;
    margin-top: 80px;
}
h3 {
    position: absolute;
    color: white;
    font-size: 30px;

}

.img1 {
    float: left;
}
.text {
    float: right;
    margin-right: 40px;
}
.img2 {
    float: right;
}
.text2 {
    float: left;
    margin-left: 40px;
}
.img3 {
    float: left;
}
.text3 {
    float: right;
    margin-right: 40px;

}
.img4 {
    float: right;
}
.text4 {
    float: left;
    margin-left: 40px;
}
.img5 {
    float: left;
}
.text5 {
    float: right;
    margin-right: 40px;


}
.over {
    position: absolute;

}
/* Header  */
.logo {
    position: absolute;
    margin-left: 70px;
    margin-top: 9px;
}
.wild {
    position: absolute;
    margin-left: 187px;
    margin-top: 56px;
}
.accueil {
    position: absolute;
    margin-left: 500px;
    margin-top: 12px;

}
.recettes {
    position: absolute;
    margin-left: 734px;
    margin-top: 12px;
}
.idée {
    position: absolute;
    margin-left: 972px;
    margin-top: 12px;

}
.paysage {
    position: absolute;
    margin-left: 1211px;
    margin-top: 12px;}

.recette {
    position: absolute;
    color: white;
    margin-left: 22px;
}
.Location {
    position: absolute;
    color: white;
    margin-left: 103px;
}
.TrucsAstuces {
    position: absolute;
    color: white;
    margin-left: 165px;
}
.tuto {
    position: absolute;
    color: white;
    font-size: 30px;
    margin-left: 230px;
    margin-top: 200px;
}
.tuto2 {
    position: absolute;
    color: white;
    font-size: 30px;
    margin-left: 230px;
    margin-top: 200px;

}






